flows.json
[
    {
        "id": "fc195135adec9468",
        "type": "mqtt in",
        "z": "76ee113a0033c2a5",
        "name": "Recebe Sensores",
        "topic": "gs/espaco/turismo/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "31fcb365e0553cc3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b43017c42831f653",
                "ac3b8e9b0a2ac556"
            ]
        ]
    },
    {
        "id": "eca1103cf06ac027",
        "type": "mqtt in",
        "z": "76ee113a0033c2a5",
        "name": "Recebe Status",
        "topic": "gs/espaco/turismo/status",
        "qos": "0",
        "datatype": "json",
        "broker": "31fcb365e0553cc3",
        "inputs": 0,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "04ccf66fae587b9b"
            ]
        ]
    },
    {
        "id": "6cb30d7620635ced",
        "type": "mqtt in",
        "z": "76ee113a0033c2a5",
        "name": "Recebe Pânico",
        "topic": "gs/espaco/turismo/panico",
        "qos": "0",
        "datatype": "json",
        "broker": "31fcb365e0553cc3",
        "inputs": 0,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "8da9e42cf6f02ee8"
            ]
        ]
    },
    {
        "id": "b43017c42831f653",
        "type": "function",
        "z": "76ee113a0033c2a5",
        "name": "Filtra BPM",
        "func": "msg.payload = msg.payload.bpm;\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "ed1601b767f7ddc9"
            ]
        ]
    },
    {
        "id": "ac3b8e9b0a2ac556",
        "type": "function",
        "z": "76ee113a0033c2a5",
        "name": "Filtra Temperatura",
        "func": "msg.payload = msg.payload.temperatura;\nreturn msg;",
        "outputs": 1,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "0e2146262dcbb07f"
            ]
        ]
    },
    {
        "id": "ed1601b767f7ddc9",
        "type": "ui_gauge",
        "z": "76ee113a0033c2a5",
        "name": "Batimentos (BPM)",
        "group": "group_sensores",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batimentos Cardíacos",
        "label": "BPM",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "130",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "0e2146262dcbb07f",
        "type": "ui_gauge",
        "z": "76ee113a0033c2a5",
        "name": "Temperatura",
        "group": "group_sensores",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura do Traje",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "38.5",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "04ccf66fae587b9b",
        "type": "ui_text",
        "z": "76ee113a0033c2a5",
        "group": "group_alertas",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status do Usuário",
        "format": "Estado: {{msg.payload.estado}} | LED: {{msg.payload.cor_led}}",
        "layout": "row-spread",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "8da9e42cf6f02ee8",
        "type": "ui_text",
        "z": "76ee113a0033c2a5",
        "group": "group_alertas",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Alerta Médico",
        "format": "<font color=\"red\"><b>{{msg.payload.mensagem}}</b></font>",
        "layout": "row-spread",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "31fcb365e0553cc3",
        "type": "mqtt-broker",
        "name": "HiveMQ Público",
        "broker": "4ffe8925948f46d5883ca30dad59a71f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "3c8f43a2f0f43f5f",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group_sensores",
        "type": "ui_group",
        "name": "Monitoramento Contínuo",
        "tab": "tab_espaco",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group_alertas",
        "type": "ui_group",
        "name": "Alertas e Status",
        "tab": "tab_espaco",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3c8f43a2f0f43f5f",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "tab_espaco",
        "type": "ui_tab",
        "name": "Turismo Espacial - Sinais Vitais",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f78c3851204b6146",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]